{% extends "base.html" %}

  {% block body_block %}


  <!-- Preloader Start -->
    <div id="preloader">
    <div class="loader"></div>
    </div>
    <!-- Preloader End -->



    <!-- Home & Menu Section Start -->
    <header id="home" class="home-section">


        <div class="home-section-background" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">

        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            <h1 class="welcome">Welcome To Tutoria!</h1>
            </div>
        </div>
        <div class="row">
        <p><br></p>
        </div>
        <br><br>
        <div class="margin-top-60">
        <a class="w3-bar-item w3-button w3-round-xxlarge w3-padding-16 w3-pink w3-xlarge w3-hover-teal w3-center" href="main/user_login">Login as student</a>
        <a class="w3-bar-item w3-button w3-round-xxlarge w3-padding-16 w3-pink w3-xlarge w3-hover-teal w3-center" href="main/tutor_login">Login as Tutor</a>
        <a class="w3-bar-item w3-button w3-round-xxlarge w3-padding-16 w3-pink w3-xlarge w3-hover-teal w3-center" href="/courseadmin">Login as Admin</a>
        <a class="w3-bar-item w3-button w3-round-xxlarge w3-padding-16 w3-pink w3-xlarge w3-hover-teal w3-center" href="/main/myTutors">Login as MyTutors</a>
        </div>
        <br><br>
                                    <div class="margin-top-60">
                          <a class="w3-bar-item w3-button w3-round-xxlarge w3-padding-16 w3-pink w3-xlarge w3-hover-teal w3-center" href="main/register">Sign Up</a>
                                  </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
  {% endblock %}
