{% extends 'main/baseapp.html' %}
{% block body_block %}

<p> Click the drop down to see {{ tutor.firstName}} {{ tutor.lastName}}'s Availabilities </p>
<form method="POST">

  {% csrf_token %}

<select name="slot_id">
{% for entry in slots %}
    <option value="{{ entry.id }}"> {{entry.tutor.firstName}}: {{entry.date}}, {{ entry.startTime }} - {{ entry.endTime}}</option>
{% endfor %}
</select>

<input type="submit" value = "Book" class="w3-bar-item w3-button w3-round-xxlarge w3-padding-large w3-margin-left w3-pink w3-xlarge w3-hover-teal w3-center" onclick="myFunction()">
</form>
<script>
function myFunction() {
   var a="{{ tutor.firstName}}  {{ tutor.lastName}}";
   var amt = "{{ tutor.hourly_rate}}";
   var bal = "{{balance.wallet}}";
   alert("You have booked your session with "+a +". The fee for this session is HKD"+amt + ". Your balance amount is HKD" + bal);
}
</script>

{% endblock %}
