{% extends 'main/baseapp.html' %}
{% block body_block %}


<br> <br>
<div class="month">
  <ul>

    <li>
      Availability for the next 7 days <br>
      <span style="font-size:18px">for {{ tutor.firstName}} {{ tutor.lastName}}  </span>
    </li>
  </ul>
</div>

<div>
  <ul class="wdays">
    <li id="wd0" >Timings</li>
    <li ><p  id="wd1"></p></li>
      <li ><p  id="wd2"></p></li>
        <li ><p  id="wd3"></p></li>
          <li ><p  id="wd4"></p></li>
            <li ><p  id="wd5"></p></li>
              <li ><p  id="wd6"></p></li>
                <li ><p  id="wd7"></p></li>
  </ul>

<ul class="weekdays">
  <li id="d0" ></li>
  <li ><p  id="d1"></p></li>
    <li ><p  id="d2"></p></li>
      <li ><p  id="d3"></p></li>
        <li ><p  id="d4"></p></li>
          <li ><p  id="d5"></p></li>
            <li ><p  id="d6"></p></li>
              <li ><p  id="d7"></p></li>

</ul>



<ul class="days">
  <li id="0">09:00-09:30</li>
  <li onclick="calendarfn(s11)"><p id='s11'></p></li>
  <li><p id='s12'></p></li>
  <li><p id='s13'></p></li>
  <li><p id='s14'></p></li>
  <li><p id='s15'></p></li>
  <li><p id='s16'></p></li>
  <li><p id='s17'></p></li>


  <li><p id='1'>9:30-10:00</p></li>
  <li><p id='s115'></p></li>
  <li><p id='s125'></p></li>
  <li><p id='s135'></p></li>
  <li><p id='s145'></p></li>
  <li><p id='s155'></p></li>
  <li><p id='s165'></p></li>
  <li><p id='s175'></p></li>


  <li id="2">10:00-10:30</li>
  <li><p id='s21'></p></li>
  <li><p id='s22'></p></li>
  <li><p id='s23'></p></li>
  <li><p id='s24'></p></li>
  <li><p id='s25'></p></li>
  <li><p id='s26'></p></li>
  <li><p id='s27'></p></li>


  <li><p id='3'>10:30-11:00</p></li>
  <li><p id='s215'></p></li>
  <li><p id='s225'></p></li>
  <li><p id='s235'></p></li>
  <li><p id='s245'></p></li>
  <li><p id='s255'></p></li>
  <li><p id='s265'></p></li>
  <li><p id='s275'></p></li>


  <li id="4">11:00-11:30</li>
  <li><p id='s31'></p></li>
  <li><p id='s32'></p></li>
  <li><p id='s33'></p></li>
  <li><p id='s34'></p></li>
  <li><p id='s35'></p></li>
  <li><p id='s36'></p></li>
  <li><p id='s37'></p></li>


  <li><p id='5'>11:30-12:00</p></li>
  <li><p id='s315'></p></li>
  <li><p id='s325'></p></li>
  <li><p id='s335'></p></li>
  <li><p id='s345'></p></li>
  <li><p id='s355'></p></li>
  <li><p id='s365'></p></li>
  <li><p id='s375'></p></li>



  <li id="6">12:00-12:30</li>
  <li><p id='s41'></p></li>
  <li><p id='s42'></p></li>
  <li><p id='s43'></p></li>
  <li><p id='s44'></p></li>
  <li><p id='s45'></p></li>
  <li><p id='s46'></p></li>
  <li><p id='s47'></p></li>


  <li><p id='7'>12:30-01:00</p></li>
  <li><p id='s415'></p></li>
  <li><p id='s425'></p></li>
  <li><p id='s435'></p></li>
  <li><p id='s445'></p></li>
  <li><p id='s455'></p></li>
  <li><p id='s465'></p></li>
  <li><p id='s475'></p></li>

  <li id="8">01:00-01:30</li>
  <li><p id='s51'></p></li>
  <li><p id='s52'></p></li>
  <li><p id='s53'></p></li>
  <li><p id='s54'></p></li>
  <li><p id='s55'></p></li>
  <li><p id='s56'></p></li>
  <li><p id='s57'></p></li>

    <li><p id='9'>01:30-02:00</p></li>
    <li><p id='s515'></p></li>
    <li><p id='s525'></p></li>
    <li><p id='s535'></p></li>
    <li><p id='s545'></p></li>
    <li><p id='s555'></p></li>
    <li><p id='s565'></p></li>
    <li><p id='s575'></p></li>

  <li id="10">02:00-02:30</li>
  <li><p id='s61'></p></li>
  <li><p id='s62'></p></li>
  <li><p id='s63'></p></li>
  <li><p id='s64'></p></li>
  <li><p id='s65'></p></li>
  <li><p id='s66'></p></li>
  <li><p id='s67'></p></li>


    <li><p id='11'>02:30-03:00</p></li>
    <li><p id='s615'></p></li>
    <li><p id='s625'></p></li>
    <li><p id='s635'></p></li>
    <li><p id='s645'></p></li>
    <li><p id='s655'></p></li>
    <li><p id='s665'></p></li>
    <li><p id='s675'></p></li>


<li id="12">03:00-03:30</li>
<li><p id='s71'></p></li>
<li><p id='s72'></p></li>
<li><p id='s73'></p></li>
<li><p id='s74'></p></li>
<li><p id='s75'></p></li>
<li><p id='s76'></p></li>
<li><p id='s77'></p></li>


  <li><p id='13'>03:30-04:00</p></li>
  <li><p id='s715'></p></li>
  <li><p id='s725'></p></li>
  <li><p id='s735'></p></li>
  <li><p id='s745'></p></li>
  <li><p id='s755'></p></li>
  <li><p id='s765'></p></li>
  <li><p id='s775'></p></li>




    <li id="14">04:00-04:30</li>
    <li><p id='s81'></p></li>
    <li><p id='s82'></p></li>
    <li><p id='s83'></p></li>
    <li><p id='s84'></p></li>
    <li><p id='s85'></p></li>
    <li><p id='s86'></p></li>
    <li><p id='s87'></p></li>


      <li><p id='15'>04:30-05:00</p></li>
      <li><p id='s815'></p></li>
      <li><p id='s825'></p></li>
      <li><p id='s835'></p></li>
      <li><p id='s845'></p></li>
      <li><p id='s855'></p></li>
      <li><p id='s865'></p></li>
      <li><p id='s875'></p></li>


</ul>
</div>


<br><br>
<h4 id="selected"></h4>
<h4 id="payamt"></h4>

<br>




<select name="slot_id">
{% for entry in slots %}
    <option value="{{ entry.id }}"> {{entry.date }}, {{ entry.startTime }} - {{ entry.endTime}}</option>
{% endfor %}
</select>

<button id='bookbtn' class="w3-bar-item w3-button w3-round-xxlarge w3-padding-large w3-margin-left w3-pink w3-xlarge w3-hover-teal w3-center" onclick="bookSession()"> Book </button>




<script>

</script>

<script>

var curdString="{{currentDate}}";
var curt="{{currentTime}}";
var myDate = new Date(curdString);

var i;
for (i = 1; i <= 7; i++) {
  var g="d"+i;
  var g1="wd"+i;
  myDate.setDate(myDate.getDate() + 1);
  var myDS=myDate.toDateString();
  var myDay=myDate.getDay();
  document.getElementById(g1).innerHTML = myDS[0]+myDS[1]+myDS[2];
  document.getElementById(g).innerHTML = myDS.substring(4);
}

var j;
/////////////TO set inner elements

var checktut="{{ tutor.tutorType }}";
if(checktut.valueOf() == 0){
for (i = 1; i <= 7; i++) {
  for (j = 1; j <= 8; j++) {
  var g="s"+j+i;
  var g1="s"+j+i+"5";
  document.getElementById(g).innerHTML = "Available";
  document.getElementById(g1).innerHTML = "Available";
}}
}
else {
  for (i = 1; i <= 7; i++) {
    for (j = 1; j <= 8; j++) {
    var g="s"+j+i;
    document.getElementById(g).innerHTML = "Available";
  }}
}

{% for entry in slots %}

var val="{{ entry.startTime }} {{ entry.endTime}}";
var myDate1 = new Date("{{entry.date}}");
myDate = new Date(curdString);

for (j = 1; j <= 7; j++) {
var curd1 = new Date();
curd1.setDate(myDate.getDate() + j);
var s1=myDate1.getDate();
var s2=curd1.getDate();
if( s1.valueOf() === s2.valueOf())
{
  var tempo = val[0]+val[1];
  var timecur= parseInt(tempo) - 9;
  if(timecur>0 && val[3]==3)
  {
  id= (timecur+1)*10 + j;
  var a="s"+id+"5";
  //document.getElementById('s44').innerHTML = id;
  document.getElementById(a).innerHTML = "Blocked";
  }
  else if(timecur>0)
  {
  id= (timecur+1)*10 + j;
  var a="s"+id;
  //document.getElementById('s44').innerHTML = id;
  document.getElementById(a).innerHTML = "Blocked";
  }
}
}


{% endfor %}

{% for entry in sessions %}

var val="{{ entry.bookedTime.startTime }} {{ entry.bookedTime.endTime}}";
var myDate1 = new Date("{{entry.bookedTime.date}}");
myDate = new Date(curdString);

for (j = 1; j <= 7; j++) {
var curd1 = new Date();
curd1.setDate(myDate.getDate() + j);
var s1=myDate1.getDate();
var s2=curd1.getDate();

  //document.getElementById('s56').innerHTML = s1.valueOf();

if( s1.valueOf() === s2.valueOf())
{

  //document.getElementById('s44').innerHTML = "Bro";
  var tempo = val[0]+val[1];
  var timecur= parseInt(tempo) - 9;
  //document.getElementById('s44').innerHTML = timecur;
  if(timecur>0)
  {
  id= (timecur+1)*10 + j;
  var a="s"+id;
  //document.getElementById('s44').innerHTML = id;
  document.getElementById(a).innerHTML = "Blocked";
  }
}


}


{% endfor %}



</script>


<script>
var selected=0;

var ctr=1;
var timez=9;
var checktut="{{ tutor.tutorType }}";


for (var i = 1; i <= 7; i++) {
  for (var j = 1; j <= 8; j++) {
  var g="s"+j+i;
  var g1="s"+j+i+"5";

    document.getElementById(g).addEventListener("click",calendarfn);
if(checktut.valueOf() == 1 && ctr<16){//if private
        document.getElementById(ctr.toString()).innerHTML="";ctr=ctr+2;
        document.getElementById((ctr-3).toString()).innerHTML= timez+":00 - "+(timez+1)+":00";timez++;
      }
      else{
        document.getElementById(g1).addEventListener("click",calendarfn);
      }
}}
//ELAPSED 24 Hr timez

var a="{{currentTime}}";
for(var i=1;i<=8;i++){
  var g="s"+i+"1";

  if((i+8)<parseInt(a[0]+a[1]))
  {
    document.getElementById(g).innerHTML="Elapsed";
    if(checktut==0 && (a[3]>=3))
    {
      document.getElementById(g+"5").innerHTML="Elapsed";
    }

  }
}
//Active Box


var currentid;
var selecteddate=new Date();
function calendarfn() {
  //document.getElementById('s66').innerHTML="Hi";
  if(document.getElementById(this.id).className == "active")
  {
    selected=0; document.getElementById(this.id).className="";
  }
  else
  {
    if(document.getElementById(this.id).innerHTML == "Available" && selected==0)
    {
      selected=1; document.getElementById(this.id).className = "active";
      currentid=this.id;
      var iddate=currentid[3];
      selecteddate.setDate(myDate.getDate() + iddate);





    }
  }
}

var URL = "{% url 'main:session' %}"
function bookSession(){

  document.getElementById('bookbtn').innerHTML = "GAYSEX";

var bookeddate="{{currentDate}}";

    var data = {'bookeddate': bookeddate,
  'csrfmiddlewaretoken': '{{ csrf_token }}'};
    $.post(URL, data, function(response){
        if(response === 'success'){ alert('Sex just happened!'); }
        else{ alert('Error! :('); }
    });

}
</script>


<script>
function myFunction() {
   var a="{{ tutor.firstName}}  {{ tutor.lastName}}";
   var amt = "{{ tutor.hourly_rate}}";
   var bal = "{{balance.wallet}}";
   alert("You have booked your session with "+a +". The fee for this session is HKD"+amt + ". Your balance amount is HKD" + bal);
}
</script>

{% endblock %}
