{% extends "main/baseapp.html" %}

{% block body_block %}

{% if message %}
<script>
  alert('{{ message }}');
</script


{% endif %}

<em> Welcome {{student.firstName}}! Your Account Balance is HKD {{student.wallet}} </em>
<br>
<br>

<form method="post">
  {% csrf_token %}
  Add Amount (HKD): <input type="number" name='amount' step="0.10" min=1>
  <input type="submit" value="Add">
<form>
<br>
<br>

{% if transactions %}
<em> Your Transactions for the past 30 days are: </em>
<br>
<br>

<table style="width 100%">

<tr>
  <th> Transaction Time</th>
  <th> Debit  </th>
  <th> Credit   </th>
  <th> Details   </th>
</tr>

{% for transaction in transactions %}

<tr>
  <td> {{transaction.transactionTime}} </td>

  <td> {{transaction.addedAmount}} </td>

  <td> {{transaction.subtractedAmount}} </td>

  <td> {{transaction.details}} </td>
</tr>

{% endfor %}
</table>
<br>
{% endif %}
<!-- <br>
<br>

<em> Your Transactions for the past 30 days are: </em>
<br>
<br>

<table style="width 100%">

<tr>
  <th> Booking Date and Tutor </th>
  <th> Amount ({{wallet.currency}}) </th>
</tr>

{% for slot in sessions %}
<tr>
  <td> </td>
  <td> {{slot.sessionAmount}} </td>
</tr>

{% endfor %}
</table>
<br>
<br> -->



{% endblock %}
