{% extends "main/baseapp.html" %}

{% block body_block %}

<em> Your Account Balance is {{wallet.currency}}{{ wallet.amount }} </em>
<br>
<br>

<form enctype="multipart/form-data" method="post" >
    {% csrf_token %}
    {{ walletForm.as_p }}  <input type="submit" name="add_money" value="Add Money">
</form>

<br>
<br>
<br>

<em> Your Transactions for the past 30 days are: </em>
<br>
<br>

<table style="width 100%">

<tr>
  <th> Booking Date and Tutor </th>
  <th> Amount ({{wallet.currency}}) </th>
</tr>

{% for slot in sessions %}
<tr>
  <td> {{slot.bookedTime}}</td>
  <td> {{slot.sessionAmount}} </td>
</tr>

{% endfor %}
</table>
<br>
<br>



{% endblock %}
